* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: black;
}

input {
  background: grey;
  font-size: 18px;
}

form {
  display: inline-block;
}

.centered {
  text-align: center;
}

#pizzaSize {
  font-weight: 800;
}

.mover {
  position: fixed;
  z-index: -1;
  margin-left: 25px;
}

.randomPizzaContainer {
  float: left;
  display: flex;
}

.randomPizzaContainer:after {
  content: "";
  display: table;
  clear:both;
}

.randomPizzaContainer[data-size="small"]  {  width:25%; }
.randomPizzaContainer[data-size="medium"] {  width:33.3%; }
.randomPizzaContainer[data-size="large"]  {  width:50%; }

 .container {
  background-color: rgba(240, 60, 60, 0.8);
}
